  <div class="mt-2 flex w-full flex-col items-center justify-around md:flex-row">
    <% [flashcard.english_name, flashcard.polish_name].each do |label| %>
      <div class="mb-2 w-full truncate rounded-lg border border-gray-300 bg-lime-50 px-3 py-2 text-lg first:mr-1 last:ml-1 md:mb-0 md:w-1/2"><%= label %></div>
    <% end %>
    <div class="flex w-32 items-center justify-around">
      <%= link_to "Edytuj",
                  edit_admin_flashcard_set_flashcard_path(@flashcard_set, flashcard),
                  class: "text-blue-600 hover:opacity-70" %>
      <%= button_to "Usuń",
                    admin_flashcard_set_flashcard_path(@flashcard_set, flashcard),
                    method: :delete,
                    class: "text-red-600 hover:cursor-pointer hover:opacity-70 mb-3 md:mb-0" %>
    </div>
  </div>
