<%= form_with model: flashcard, url: url, method: method do |f| %>
  <div class="flex w-full flex-col items-center justify-around md:flex-row">
    <%= f.text_field :english_name,
                    required: true,
                    autofocus: true,
                    placeholder: "Po angielsku...",
                    class: "#{input_classes} mb-2 mr-1 md:w-1/2 md:mb-0" %>
    <%= f.text_field :polish_name,
                    required: true,
                    autofocus: true,
                    placeholder: "Po polsku...",
                    class: "#{input_classes} mb-2 mr-1 ml-1 md:w-1/2 md:mb-0" %>
    <%= f.submit "Zapisz",
                class: "#{submit_button_classes} ml-1" %>
  </div>
<% end %>
