<%= render "shared/back_button", back_url: edit_admin_flashcard_set_path(@flashcard_set) %>
<%= turbo_frame_tag dom_id(@flashcard) do %>
  <div class="mt-2">
    <%= render "form",
               flashcard_set: @flashcard_set,
               flashcard: @flashcard,
               url: admin_flashcard_set_flashcard_path(@flashcard_set, @flashcard),
               method: :patch,
               render_position_field: true %>
  </div>
<% end %>
