<%= turbo_frame_tag "flashcards" do %>
  <div class="mx-auto mb-5 flex flex-1 flex-col items-center md:w-3/4">
    <%= link_to "Ukryj słówka w tym zestawie",
                hide_flashcards_flashcard_set_flashcards_path,
                class: "mb-3 inline-flex items-center rounded-lg bg-lime-200 px-4 py-2 text-lg font-medium shadow-md #{hover_classes}",
                data: { turbo_frame: "flashcards" } %>
    <%= render @flashcards %>
  </div>
<% end %>
