<div class="container mx-auto px-4 py-8">
  <h1 class="mb-8 text-center text-2xl font-bold text-gray-800">Zarządzaj modułami</h1>
  
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:mx-auto lg:w-3/4">
    <%= render "shared/resource_tile",
              resource: FlashcardSet,
              resource_url: admin_flashcard_sets_path,
              english_label: "Flashcards",
              polish_label: "Fiszki",
              tile_color_class: "bg-gradient-to-br from-blue-100 to-blue-300" %>
    <%= render "shared/resource_tile",
              resource: SentenceSet,
              resource_url: admin_sentence_sets_path,
              english_label: "Sentences",
              polish_label: "Zdania",
              tile_color_class: "bg-gradient-to-br from-orange-100 to-orange-300" %>
  </div>
</div>
