  <div class="min-w-44 mb-3 flex h-full w-full items-center justify-center rounded-lg border border-gray-300 bg-white text-5xl hover:cursor-pointer hover:opacity-50 md:w-3/4">
    <%= @current_flashcard.english_name %>
  </div>  
