<div class="min-h-32 flex items-center justify-center rounded-lg border border-gray-300 bg-white hover:cursor-pointer hover:opacity-50">
  <div class="flex flex-col items-center">
    <div><%= flashcard_set.english_name %></div>
    <div>(<%= flashcard_set.polish_name %>)</div>
  </div>
</div>
