<div
  class="flex items-center space-x-2"
  data-controller="language-toggle"
  data-language-toggle-preferred-language-value=<%= preferred_language %>
>
  <span class="text-xl" id="language-label" data-language-toggle-target="label">
    Angielski
  </span>

  <div class="relative">
    <%= button_to toggle_language_path, method: :put, data: { action: "language-toggle#toggle" } do %>
      <div
        class="h-6 w-12 rounded-full border border-gray-400 bg-gray-300 transition-all hover:cursor-pointer hover:opacity-70"
        data-language-toggle-target="toggleBackground"
      >
        <div
          class="absolute left-1 top-1 h-4 w-4 rounded-full border border-gray-400 bg-white transition-all"
          data-language-toggle-target="toggle"
        >
        </div>
      </div>
    <% end %>
  </div>
</div>
