<%= turbo_frame_tag "flashcards" do %>
  <div class="mx-auto mt-3 flex flex-1 flex-col items-center md:w-3/4">
    <%= link_to "Pokaż słówka w tym zestawie",
                flashcard_set_flashcards_path(@flashcard_set),
                class: "mt-2 text-lg bg-lime-200 border shadow-md border-gray-300 rounded-lg px-2 #{hover_classes}" %>
  </div>
<% end %>
