<div class="container mx-auto w-3/4">
  <div class="mb-3 flex flex-row">
    <%= render "shared/back_button", back_url: root_path %>
    <h1 class="ml-3 text-2xl">Flashcards (Fiszki)</h1>
  </div>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    <%= render @flashcard_sets %>
  </div>
</div>
