<div class="mx-auto flex flex-col items-center">
  <div class="flex w-3/4 flex-col">
    <%= link_to "< Wróć",
                admin_flashcard_sets_path,
                class: "#{back_button_classes} mb-3" %>
    <%= render "form",
              flashcard_set: @flashcard_set,
              url: admin_flashcard_set_path(@flashcard_set),
              method: :patch %>

    <div class="mb-5 mt-5 flex flex-col items-center">
      <div class="mb-2 w-full text-lg">
        Fiszki w zestawie:
      </div>
      <%= link_to "+ Dodaj fiszkę",
                  new_admin_flashcard_set_flashcard_path(@flashcard_set),
                  class: "text-blue-600 w-full text-left #{hover_classes}" %>
      <%= render @flashcards %>
    </div>
  </div>
  </div>
</div>
