<div class="mx-auto flex flex-col items-center">
  <div class="flex w-3/4 flex-col">
    <%= render "shared/back_button", back_url: admin_flashcard_sets_path, additional_classes: "mb-3" %>
    <%= render "form",
               flashcard_set: @flashcard_set,
               url: admin_flashcard_sets_path,
               method: :post %>
  </div>
</div>
