<div class="min-w-44 mb-3 mt-3 flex w-full items-center justify-center">
  <% @current_sentence.words.each do |word| %>
    <div class="mx-1 rounded-lg border border-gray-300 px-5 py-3 text-2xl shadow-md <%= word.missing? ? "bg-orange-100" : "bg-lime-50" %>">
      <% if word.missing? %>
        <div id="missing-word">.........</div>
      <% else %>
        <%= word.value %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="mb-1 mt-3 text-xl">Wybierz właściwe słowo:</div>
<div class="mb-3 flex w-full items-center justify-center">
  <% words_to_choose = [*@current_sentence.fake_words, @current_sentence.words.find_by(missing: true)].shuffle %>
  <% words_to_choose.each do |fake_word| %>
    <div class="mx-1 rounded-lg border border-gray-300 bg-lime-50 px-5 py-3 text-2xl shadow-md <%= hover_classes %>">
      <%= fake_word.value %>
    </div>
  <% end %>
</div>
