<div class="container mx-auto px-4 py-6">
  <div class="mb-6 flex flex-row items-center">
    <%= render "shared/back_button", back_url: root_path %>
    <h1 class="ml-3 text-2xl font-bold text-gray-800">Sentences <span class="text-gray-500">(Zdania)</span></h1>
  </div>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
    <%= render @sentence_sets %>
  </div>
</div>
