<div class="h-5/8 mx-auto flex flex-col items-center sm:h-3/4">
  <div class="mb-2 flex w-full flex-col items-center justify-between px-1 sm:flex-row md:w-3/4">
    <%= render "shared/back_button", back_url: sentence_sets_path %>
    <div class="w-full text-center text-xl">
      <%= "#{@sentence_set.english_name} (#{@sentence_set.polish_name})" %>
    </div>
    <%= render "shared/preferred_language_toggle" %>
  </div>
</div>
