<header class="border-b-1 min-h-16 sticky top-0 z-10 flex items-center justify-between border-gray-300 bg-lime-200 px-5">  
  <a class="text-xl sm:text-3xl" href="/">
    Mani Fiszki
  </a>
  <div class="sm:text-xl">
    Zaloguj
  </div>
</header>
