<header class="border-b-1 min-h-16 sticky top-0 z-10 flex items-center justify-between border-gray-300 bg-lime-200 px-5">  
  <a class="text-3xl font-bold text-gray-800 sm:text-3xl" href="/">
    Mani Fiszki
  </a>
  <% if authenticated? %>
    <div class="flex">
      <%= link_to "Zarządzaj",
                  admin_dashboard_path,
                  class: "sm:text-lg mr-2 #{hover_classes}" %>
      <div class="mr-2">|</div>
      <%= button_to "Wyloguj",
                    session_path,
                    method: :delete,
                    class: "sm:text-lg #{hover_classes}" %>
    </div>
  <% else %>
    <%= link_to "Zaloguj",
                new_session_path,
                class: "sm:text-lg #{hover_classes}" %>
  <% end %>
</header>
